{% extends 'base.html.twig' %}

{% block title %}Créer un Produit{% endblock %}
{% block h1 %}Créer un  Produit{% endblock %}

{% block body %}

    {{ include('admin/produit/_form.html.twig') }}

    <a href="{{ path('app_admin_produit_index') }}">back to list</a>
{% endblock %}
