{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
    <h1>Create new Commande</h1>

    {{ include('admin/command/_form.html.twig') }}

    <a href="{{ path('app_admin_command_index') }}">back to list</a>
{% endblock %}
