{% extends "base.html.twing" %}

{% block body %} 
<h2>Le résultat du calcul</h2>

    <p>{{ nb1 }} + {{ nb2 }} = {{ nb1 + nb2}}</p>
   
   <p>{{nb1 ~ " + " ~ nb2 ~ " = " ~ (nb1 + nb2)}}</p>
   
   
    {% endblock %}