{% extends 'base.html.twig' %}

{% block body %}

{% if age< 18 %}

{% elseif age< 62 %}
    <p>Vous êtes majeur.e</p>
    {% endif %}

    <p></p>
        <p></p>
            <p></p>

{% endblock body %}
